{% extends 'base.html.twig' %}

{% block title %}Modifier l'option{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier l'option</h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.price) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_row(form.description) }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="{{ path('app_option_index') }}" class="btn btn-secondary">Retour à la liste</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
